<!DOCTYPE html>  
<html>  
<head>  
    <title>Add GSA Office</title>  
</head>  
<body>  
    <h2>Add an Office (Cannot have existing Office Name)</h2>   
    <form action = "/saveOffice" method="post">  
    <table>  
        <tr><td>Office Name</td><td><input type="text" name="Office_name"></td></tr>  
        <tr><td>City</td><td><input type="text" name="City"></td></tr>
        <tr><td>Square Ft</td><td><input type="number" name="Square_ft"></td></tr>  
        <tr><td><input type="submit" value="Submit"></td></tr>  
    </table>  
    </form>  
</body>  
</html> 
<!DOCTYPE html>  
<html>  
<head>  
    <title>save details</title>  
</head>  
<body>  
    <a href="/Offices">View Offices Table</a>  
</body>  
</html>  