<!DOCTYPE html>  
<html>  
<head>  
    <title>Add Rental</title>  
</head>  
<body>  
    <h2>Add an Rental (Cannot share Rental ID's)</h2>   
    <form action = "/saveRental" method="post">  
    <table>  
        <tr><td>Rental ID</td><td><input type="number" name="Rental_id"></td></tr>  
        <tr><td>Rent Amount</td><td><input type="number" name="rent_amount"></td></tr>
        <tr><td>End Date</td><td><input type="text" name="end_date"></td></tr>   
        <tr><td><input type="submit" value="Submit"></td></tr>  
    </table>  
    </form>  
</body>  
</html> 
<!DOCTYPE html>  
<html>  
<head>  
    <title>save details</title>  
</head>  
<body>  
    <a href="/Rentals">View Rental Table</a>  
</body>  
</html>  