<html>  
<head>  
<meta charset="UTF-8">
<link rel="stylesheet" type = "text/css" href="{{url_for('static', filename='mystyle.css')}}"/>
<title>Flask Home</title>  
</head>  
<div class = "container">
<body>  
    <h3>GSA Database Tables</h3>  
    <br><br>
    <div style="text-align:center">
    <a href="/Offices">Offices</a><br><br>  
    <a href ="/Agencies">Agencies</a><br><br>  
    <a href="/Rentals">Rentals</a><br><br> 
    <a href="/Agreements">Agreements</a><br><br>  
</div>
    
    
</div>
</body>  
</html>  