<!DOCTYPE html>  
<html>  
<head>  
    <title>Add Agency</title>  
</head>  
<body>  
    <h2>Add an Agency (Cannot share Agency ID's)</h2>   
    <form action = "/saveAgency" method="post">  
    <table>  
        <tr><td>Agency ID</td><td><input type="number" name="Agency_id"></td></tr>  
        <tr><td>Name</td><td><input type="text" name="Agency_name"></td></tr>
        <tr><td>Address</td><td><input type="text" name="Address"></td></tr> 
        <tr><td>Phone Number</td><td><input type="number" name="Phone"></td></tr>   
        <tr><td><input type="submit" value="Submit"></td></tr>  
    </table>  
    </form>  
</body>  
</html> 
<!DOCTYPE html>  
<html>  
<head>  
    <title>save details</title>  
</head>  
<body>  
    <a href="/Agencies">View Agency Table</a>  
</body>  
</html>  