<!DOCTYPE html>  
<html>  
<head>  
    <title>Add Agreement</title>  
</head>  
<body>  
    <h2>Add an Agreement (Cannot share Agreement ID's)</h2>   
    <form action = "/saveAgreement" method="post">  
    <table>  
        <tr><td>Agreement ID</td><td><input type="number" name="Agreement_id"></td></tr>  
        <tr><td>Agency ID</td><td><input type="number" name="agency_id"></td></tr>
        <tr><td>Rental ID</td><td><input type="number" name="rental_id"></td></tr>  
        <tr><td>Office</td><td><input type="text" name="Office_name"></td></tr>  
        <tr><td><input type="submit" value="Submit"></td></tr>  
    </table>  
    </form>  
</body>  
</html> 
<!DOCTYPE html>  
<html>  
<head>  
    <title>save details</title>  
</head>  
<body>  
    <a href="/Agreements">View Agreement Table</a>  
</body>  
</html>  