<!DOCTYPE html>  
<html>  
<head>  
    <meta charset="UTF-8">

    <link rel="stylesheet" type = "text/css" href="{{url_for('static', filename='mystyle.css')}}"/>
    <title>List</title>  
</head>  
<body>  

<div class = "container">

<h3>List of Rentals</h3>  
<table class = "content-table">  
    <thead>  
        <td>Rental ID</td>  
        <td>Rental Amount</td>
        <td>End Date</td>    
    </thead>  
       
    {% for row in rows %}  
       
        <tr>  
            <td>{{row["Rental_id"]}}</td>  
            <td>{{row["rent_amount"]}}</td>  
            <td>{{row["end_date"]}}</td>  
        </tr>  
       
    {% endfor %}  
</table>
<br><br> 

<div style="text-align:center">
    <a href="/addRental">Add Rental</a> 
    <br><br>
    <a href="/deleteRental">Delete Rental</a> 
    <br><br>  
    <a href="/">Go back to home page</a>  
    </div> 

</div>
</body>  
</html>  